*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    text-align: center;
    margin-top: 10px;
}

.container{
    width: 800px;
    display: block;
    margin: 0 auto;
    height: 80vh;
    margin-top: 20px;
    border:1px solid black;
    border-radius: 10px;
}

.message{
    background: #9D50BB;
    background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);
    background: linear-gradient(to right, #6E48AA, #9D50BB);
    padding: 10px;
    margin: 10px 5px;
    width: 24%;
    border-radius: 10px;
    color: white;
}
.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}
.messageIn{
    text-align: center;
}
#messagein{
    width: 830px;
    height: 30px;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 10px;
    outline: none;
    padding-left: 20px;
}
